@font-face {
  font-family: "Mono-Regular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Iconsolata";
  src: url("../fonts/Inconsolata/static/Inconsolata-Regular.ttf");
}

body {
  min-height: 100vh;
}

.section-container {
  min-height: calc(100vh - 120px);
  /* padding-top: 150px; */
}

.site-title {
  color: #333333;
  font-family: "Iconsolata";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -8%;
  padding: 20px;
}

.section-title {
  color: #333333;
  font-family: "Mono-Regular";
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  margin-bottom: 36px;
}

.section-description {
  font-family: "Mono-Regular";
  font-weight: 400;
  font-style: normal;
  color: #4f4f4f;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
}

.btn-to-home {
  background-color: #333333;
  color: #fff;
  font-family: "Mono-Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.035em;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 43px;
  padding-left: 43px;
  margin-top: 64px;
}

.copyright {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 17px;
}

@media (max-width: 576px) {
  .site-title {
    margin: 10px;
  }
  .section-container {
    padding-top: 0;
  }
  .section-title {
    font-size: 48px;
    line-height: 71px;
  }
  .section-description {
    font-size: 18px;
    line-height: 26.6px;
  }
  .btn-to-home {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

@media (min-width: 800px) {
  .section-description {
    max-width: 380px;
  }
}
