@font-face {
  font-family: "Mono-Regular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Mono-Bold";
  src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf");
}

@font-face {
  font-family: "Mono-Italic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
}

@font-face {
  font-family: "Mono-BoldItalic";
  src: url("../fonts/Space_Mono/SpaceMono-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Iconsolata";
  src: url("../fonts/Inconsolata/static/Inconsolata-Regular.ttf");
}

html {
  height: 100%;
}

.section-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.site-title {
  text-transform: uppercase;
  color: #333333;
  font-family: "Iconsolata";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -8%;
  margin-top: 40px;
  margin-left: 77px;
  height: 25px;
}

.section-title {
  color: #333333;
  font-family: "Mono-Regular";
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  margin-bottom: 36px;
}

.section-description {
  font-family: "Mono-Regular";
  font-weight: 400;
  font-style: normal;
  color: #4f4f4f;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
}

.btn-to-home {
  background-color: #333333;
  color: #fff;
  text-transform: uppercase;
  font-family: "Mono-Regular";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.035em;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 43px;
  padding-left: 43px;
  margin-top: 64px;
}

.copyright {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 17px;
}

@media (max-width: 576px) {
  .site-title {
    margin-top: 20px;
    margin-left: 25px;
  }
  .section-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 48px;
    line-height: 71px;
  }
  .section-description {
    font-size: 18px;
    line-height: 26.6px;
  }
  .btn-to-home {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* .copyright {
    margin-top: 20px;
  } */
}
